<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUradAdmin"
        tools:targetApi="31">
        <activity
            android:name=".Activities.SideMenu.Activity_Housekeeping"
            android:exported="false" />
        <activity
            android:name=".Activities.Activity_BookingSummary"
            android:exported="false" />
        <activity
            android:name=".Activities.List_and_Create.Activity_Rooms"
            android:exported="false" />
        <activity
            android:name=".Activities.List_and_Create.Activity_CreateRoom"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.List_and_Create.Activity_PriceRules"
            android:exported="false" />
        <activity
            android:name=".Activities.List_and_Create.Activity_CreatePriceRules"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.List_and_Create.Activity_RoomTypes"
            android:exported="false" />
        <activity
            android:name=".Activities.List_and_Create.Activity_CreateRoomType"
            android:exported="false" />
        <activity
            android:name=".Activities.List_and_Create.Activity_CreateRevenueCost"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SideMenu.Activity_Language"
            android:exported="false" />
        <activity
            android:name=".Activities.SideMenu.Activity_Statistics"
            android:exported="false" />
        <activity
            android:name=".Activities.SideMenu.Activity_SystemManagement"
            android:exported="false" />
        <activity
            android:name=".Activities.SideMenu.Activity_OtherRevenue"
            android:exported="false" />
        <activity
            android:name=".Activities.SideMenu.Activity_BookingCalendar"
            android:exported="false" />
        <activity
            android:name=".Activities.List_and_Create.Activity_CreateBooking"
            android:exported="false" />
        <activity
            android:name=".Activities.SideMenu.Activity_Dashboard"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>